/**
 * @author    BOX http://box.agency
 * @contact   admin@box.agency
 */

/* ==========================================================================
   Base Styles
   ========================================================================== */

@import 'base';

/**
 * Helper Variables & Functions
 */


 $font: "philosopher", helvetica, arial, sans-serif;
 $primary : #017337;

 @font-face {
    font-family: 'philosopher';
    src: url('../fonts/philosopher-bold-webfont.eot');
    src: url('../fonts/philosopher-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/philosopher-bold-webfont.woff2') format('woff2'),
         url('../fonts/philosopher-bold-webfont.woff') format('woff'),
         url('../fonts/philosopher-bold-webfont.ttf') format('truetype'),
         url('../fonts/philosopher-bold-webfont.svg#philosopherbold') format('svg');
    font-weight: bold;
    font-style: normal;

 }
 @font-face {
    font-family: 'philosopher';
    src: url('../fonts/philosopher-bolditalic-webfont.eot');
    src: url('../fonts/philosopher-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/philosopher-bolditalic-webfont.woff2') format('woff2'),
         url('../fonts/philosopher-bolditalic-webfont.woff') format('woff'),
         url('../fonts/philosopher-bolditalic-webfont.ttf') format('truetype'),
         url('../fonts/philosopher-bolditalic-webfont.svg#philosopherbold_italic') format('svg');
    font-weight: bold;
    font-style: italic;

 }
 @font-face {
    font-family: 'philosopher';
    src: url('../fonts/philosopher-italic-webfont.eot');
    src: url('../fonts/philosopher-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/philosopher-italic-webfont.woff2') format('woff2'),
         url('../fonts/philosopher-italic-webfont.woff') format('woff'),
         url('../fonts/philosopher-italic-webfont.ttf') format('truetype'),
         url('../fonts/philosopher-italic-webfont.svg#philosopheritalic') format('svg');
    font-weight: normal;
    font-style: italic;

 }
 @font-face {
    font-family: 'philosopher';
    src: url('../fonts/philosopher-regular-webfont.eot');
    src: url('../fonts/philosopher-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/philosopher-regular-webfont.woff2') format('woff2'),
         url('../fonts/philosopher-regular-webfont.woff') format('woff'),
         url('../fonts/philosopher-regular-webfont.ttf') format('truetype'),
         url('../fonts/philosopher-regular-webfont.svg#philosopherregular') format('svg');
    font-weight: normal;
    font-style: normal;

 }
a:hover{
  text-decoration: none !important;
}
::selection {
  background: #b3d4fc;
  text-shadow: none;
}
.loader{
  background-color: rgba(30,93,44,0.8);
  .spinner > div{
    background: #FFF;
  }
}
.video {
  width: 100%; height: 100%;
  object-fit: cover;
}

a,button,.btn,#answers li{
  transition: all 0.3s;
  cursor: pointer;
  outline: none !important;
  text-decoration: none;
}
body{
  background: #908f90 url(../img/bg-body.jpg) center top no-repeat;
  font: 1.4em/1.4 $font;
  color: #222;
  -webkit-font-smoothing: antialiased;
  word-wrap: break-word;
  height: 100%;
}
/* ==========================================================================
   Module Styles
   ========================================================================== */

#progress-container{
  display: flex;
  width: 683px; height: 120px;
  background: url(../img/steps-bg.png) 0 11px no-repeat;
  padding-left: 30px;
  p {
    font-size: 12px;
    line-height: 12px;
    position: absolute;
    margin-top: 20px;
    width: 75px;
    float: left;
    margin-left: -30px !important;
  }

   .line{
      height: 5px;
      background: rgba(0,0,0,0.5);
      box-shadow: inset 0 0 4px rgba(0,0,0,0.7);
      width: 400px;
      border-bottom: 1px solid rgba(0,0,0,0.5);
      position: absolute;
      margin-top: 25px;
      z-index: 1000;
      @media (max-width: 600px){
       width:260px;
     }
   }

   ul{
     display:flex;
     width:100%;
     list-style: none;
     padding:0px;
     margin:auto;
     justify-content: space-between;
     z-index:2000;
     li{
       display: inline-flex;
        height: 55px;
        width: 55px;
        text-align: center;
        justify-content: center;
        align-items: center;
        font: 16px arial, sans-serif;
        color: #535353;
        background: url(../img/quest-label.png) center no-repeat;
      &.done{
        background: url(../img/quest-label-active.png) no-repeat center,url(../img/quest-label.png);
        p{color: #1E5D2C;}

      }
      &.active{
         background: url(../img/quest-label-active.png) no-repeat center,url(../img/quest-label.png);
         transform: scale(1.3);
         p{
           color: #ffff18;
         }
       }
       p {
        color: #fff;
        margin-left: -35px;
        font-family: tahoma;
        font-size: 14px;
        color: #666
       }
     }
   }
}

#detail-modal {
  &.fade .modal-dialog {
    transform: translate(100%,0);
  }
  &.in .modal-dialog {
    transform: translate(0,0);
  }
  .modal-dialog {
    margin: 130px 0;
    float: right;
    width: 674px;
  }
  .modal-content {
    background: url(../img/detail-modal.png) no-repeat;
    box-shadow: none;
    border: 0;
    height: 489px;
    padding: 55px;
  }
  .modal-body {
    padding: 0;
    padding-right: 25px;
  }
  .close {
    position: absolute;
    top: -36px;
    right: -36px;
    opacity: 1;
    width: 44px; height: 43px;
    background: url(../img/close-btn.png) no-repeat;
  }
  .start-quiz {
    background: url(../img/participate-btn.png) ;
    width: 216px;
    height:55px;
    display: block;
    position: absolute;
    bottom: -55px;
    left: 47px;
    border: none;
    outline: none;
    &.disabled {
      background: url(../img/participate-btn-disabled.png) ;
      cursor: default;
      &:hover {
        transform: none;
      }
    }
    &:hover{
      transform: scale(0.95);
    }
  }
  .title {
    position: absolute;
    top: 0; left: 0;
  }
}
#detail-modal .description {
  display: none;
}

#historique-modal .content {
  display: none;
}

.expert-page {
  position: relative;
  width: 720px;
  height: 405px;
  background: #208e44 url(../img/bg.jpg) no-repeat;
  background-size: cover;
  iframe {
    width: 720px;
    height: 405px;
    border: none;
    border-radius: 4px;
    overflow: hidden;
    position: absolute;
    top: 0;
  }
  .video-js{
    position: absolute;
    top:0;
    left: 0;
    z-index: 1;
  }
  #expert-video{
    opacity: 0;
  }

  .expert-video-wrapper{
    width: 720px;
    height: 405px;
    .overlay{
      z-index: 2;
      width: 720px;
      height: 405px;
      position: absolute;
      top: 0;
    }
    .video-js{

      top: 0;
    }
  }
}

.btns-services{
  right: 14%;
  bottom: 20px;
  position: absolute;
  min-width: 800px;
  width: 68%;
  z-index: 10000;
  display: none;
}
.service-btn{
  width: 104px;
  height: 72px;
  background-color: #53BB39 ;
  border: 1px solid #F0FF18;
  display: block;
  float: right;
  margin: 0 0.7%;
  background-position: center;
  background-repeat: no-repeat;
  &:hover{
      transform: scale(1.1);
      background-color: #006131;
    }
}
.service-btn.dar{
  background-image: url(../img/btn-srv-manzel.png);
}
.service-btn.car{
  background-image: url(../img/btn-srv-sayara.png);
}
.service-btn.omra{
  background-image: url(../img/btn-srv-omra.png);
}
.service-btn.tawfir{
  background-image: url(../img/btn-srv-hisab.png);
}
.service-btn.tawasol{
  background-image: url(../img/btn-srv-tawasol.png);
}


.app-wrapper{
  width: 100%;
  height: 790px;
  overflow: hidden;

}
.inner-wrapper{
  width: 1000px;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}



/*  HEADER
 ----------------------*/
 .header{
  background: url(../img/logo-zitouna.png ) right top no-repeat;
  height: 70px;
  margin-top: 30px;
  width: 100%;
  padding: 10px;
  z-index: 1000;
  position: relative;
  .inner-wrapper{
    width: 100%;
  }
  .logo{
    float: right;
  }
 }
 .video-bg{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  z-index: 0;
  overflow: hidden;
  .overlay-video{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
  }
  .video{
    top: 0;
    object-fit: cover;
    z-index: 1;
    opacity: 0;
  }
 }

 /*  Social Links
  ----------------------*/
.social-links{
  position: absolute;
  top: 10px;
  left: 0;
  a{
    width: 30px;
    height: 30px;
    background: #1e5d2c;
    display: block;
    float: left;
    font-size: 16px;
    margin: 0 10px;
    border-radius: 1px;
    color: #FFF;
    text-align: center;
    transform: rotate(45deg);
    &:hover{
      background: #FFF;
      color: #1e5d2c;
      text-decoration: none;
    }
    i{
      transform: rotate(-45deg);
      line-height: 30px;
      display: block;
    }
  }
}

 /*  LEFT Side Bar
  ----------------------*/
 .left-side{
  width: 230px;
  float: left;
  margin-top: 5px;
  text-align: center;
  .btn-wrapper{
    border-top: 2px dashed #dde439;
    margin-top: 40px;
    padding-top: 15px;
  }
  .btn{
    background: #1e5d2c;
    width: 225px;
    margin: 10px auto;
    border-radius: 30px;
    text-transform: uppercase;
    color: #FFF;
    font-size: 20px;
    font-weight: bold;
    &:hover{
      background-color: #506a18;
      color: #e6e30e;
    }
  }
  .copyright{
    text-transform: uppercase;
    font-family: arial, helvetica, sans-serif;
    font-size: 9px;
    color: #FFF;
    font-weight: bold;
    margin-top: 70px;
    text-align: left;
    a{
      color: #E2E418;
    }
  }
 }

  /*  RIGHT Side
  ----------------------*/
.right-side{
  margin-top: 80px;
  /*border: 1px solid;*/
  float: right;
  width: 720px;
  position: relative;

  .video-links{
    h2{
      color: #1e5d2c;
      font-weight: bold;
    }
    .description{
      width: 350px;
      p{
        font-family: arial, helvetica, sans-serif;
        font-size: 12px;
      }
    }
    a.product{
      position: absolute;
      display: block;
      &:hover{
        transform: scale(1.05);
      }
      &.omra{
        top: 250px;
      }
      &.karehba{
        top: 130px;
        left: 200px;
      }
      &.manzel{
        top: 300px;
        left: 245px;
      }
      &.tawfir{
        top: 150px;
        left: 530px;
      }
      &.tawasol{
        top: 0;
        left: 390px;
      }
      img{
        max-width: inherit !important;
      }
    }

  }
}

#expert-sprite{
  height: 80px;
  width: 100px;
  overflow: hidden;
  margin: 20px 30px -10px 0px;
  background-image: url(../img/expert-sprite.png);
}

/* Pages */
.home{
  position: relative;
  height: 580px;
  .btn-wrapper{
    background-image: url(../img/bg-start-btn.png);
    width: 327px;
    height: 324px;
    bottom: 10%;
    left: 7%;
    position: absolute;
    #start-btn{
      background: url(../img/start-btn.png) ;
      width: 197px;
      color: #294b1a;
      font-weight: bold;
      text-transform: uppercase;
      font-size: 20px;
      text-align: left;
      padding-left: 20px;
      padding-top: 9px;
      height:66px;
      display: block;
      border: none;
      margin-top: 180px;
      margin-left: 70px;
      outline: none;
      &:hover{
        transform: scale(0.95);
      }
    }
  }

  .accueil-block {
    background: url(../img/accueil-block.png);
    width: 366px; height: 361px;
    position: absolute; top: 60px;
    left: 460px;
    color: #ffffff;
    padding: 205px 39px 0 82px;
  }

}

.closed-block {
  background: url(../img/closed.png);
  width: 479px; height: 474px;
  position: absolute; top: 0;
  left: 100px;
}

  #expert-quiz{
    width: 300px;
    height: 352px;
    background: url(../img/quiz-expert.png);
    position: absolute;
    top: 20px;
    right: -70px;
    .btn{
      margin: 210px 100px;
      background-color:#eee90e;
      color:#333;
      border-radius: 40px;
      border: none;
      font-weight: bold;
    }
  }

/* QUIZ
================== */
.game-page{
  .quiz-wrapper{
    display: none;
  }
  .question-holder {
    height: 80px;
    width: 525px;
  }
  .question-holder .number{
    float: left;
    background: url(../img/num-ques-bg.png);
    margin-right: 10px;
    width: 60px; height: 59px;
    text-align: center;
    color: #fff;
    font: bold 26px helvetica, arial, sans-serif;
    padding-top: 14px;
  }
  #question{
    color: #1e652f;
    font-size: 28px;
    margin: 0;
    padding-top: 12px;
  }

  #answers{
    list-style: none;
    padding: 0;
    li{
      float: left;
      width: 133px;
      height: 131px;
      color: #FFF;
      padding: 20px 10px;
      font-weight: bold;
      text-align: center;
      margin-right: 30px;
      margin-top: 50px;
      margin-bottom: 60px;
      position: relative;
      background: url(../img/bg-rep-quiz.png) no-repeat;
      &:hover{
        transform: scale(1.03);
        color: #d6e100;
        &:after{
          background:url(../img/rep-hover.png) no-repeat center;
        }
      }
      &:after{
        content: '';
        background:url(../img/rep-normal.png) no-repeat center;
        width: 60px;
        height: 50px;
        display: block;
        position: absolute;
        bottom: -15px;
        left: calc(50% - 30px);

      }
    }
  }
}

#form-modal{
  background-color: rgba(0,0,0,0.3);
  .modal-content{
    background: transparent url(../img/bg-popup.png) no-repeat;
    width: 721px;
    height: 694px;
    margin: 50px auto;
    padding: 320px 110px;
    box-shadow: none;
    border: none;
    color: #666666;
    .form-control{
      height: 35px;
      width: 225px;
      border-radius: 30px;
      border: none;
      box-shadow: none;
      border-left: 8px solid #dcda0e;
    }
    a{
      color: #64932d;
    }
    .info{
      width: 90%;
      margin: 0 auto;
    }
    .btn-next{
      width: 176px;
      height: 47px;
      display: block;
      margin: 30px auto 0;
      text-indent: -9999px;
      background: url(../img/btn-submit.png) no-repeat;
    }
  }
}
//////////////////////// E3lamia's Style ///////////////////////

.historique-page {
  position: relative;
  height: 520px;
  background: url(../img/historique-bg.png) 150px 29px no-repeat;
  .item {
    position: absolute;
    background-size: 100%;
    cursor: pointer;
    color: #fff;
    font-size: 11px;
    padding: 80px 20px 0;
    text-align: center;
    transition: all 0.3s;
    &:hover {
        transform: scale(1.1);
    }
    h2 {
      display: none;
    }
  }
  .item-2009 {
    top: 66px; left: -4px;
    width: 224px; height: 210px;
    padding: 61px 79px 0 27px;
    background-image: url(../img/2009-btn.png);
    h2{
      display: block;
      color: #284A19;
      font-weight: bold;
      margin-top: -14px;
      font-size: 29px;
    }
  }
  .item-2010 {
    top: -4px;
    left: 258px;
    width: 116px; height: 116px;
    padding-top: 50px;
    font-size: 8px;
    background-image: url(../img/2010-btn.png);
  }
  .item-2011 {
    top: 66px;
    left: 427px;
    width: 116px; height: 116px;
    padding-top: 50px;
    font-size: 8px;
    background-image: url(../img/2011-btn.png);
  }
  .item-2012 {
    top: 144px; left: 581px;
    width: 171px; height: 170px;
    font-size: 12px;
    padding-top: 75px;
    background-image: url(../img/2012-btn.png);
  }
  .item-2013 {
    top: 166px; left: 315px;
    width: 116px; height: 116px;
    padding-top: 50px;
    font-size: 8px;
    background-image: url(../img/2013-btn.png);
  }
  .item-2014 {
    top: 315px; left: 123px;
    font-size: 8px;
    width: 118px; height: 118px;
    padding-top: 50px;
    background-image: url(../img/2014-btn.png);
  }
  .item-2015 {
    top: 337px; left: 441px;
    width: 171px; height: 170px;
    font-size: 12px;
    padding-top: 75px;
    background-image: url(../img/2015-btn.png);
  }
}

#historique-modal {
  .close {
    position: absolute;
    top: 27px;
    left: 111px;
    opacity: 1;
    width: 44px; height: 43px;
    background: url(../img/close-btn.png) no-repeat;
  }
  .modal-dialog {
    width: 471px;

  }
  .modal-content {
    background: url(../img/historique-modal-bg.png) no-repeat;
    box-shadow: none;
    border: 0;
    height: 508px;
  }
  .modal-body {
    padding: 80px 40px
  }
  .title {
    font-size: 30px;
    color: #136126;
    text-align: center;
  }
  .year {
    position: absolute;
    top: 24px;
    left: 24px;
    font-size: 36px;
    font-weight: bold;
    color: #284a1a;
  }
}

.final-page {
  height: 585px;
  position: relative;
  .wrapper {
    width: 680px; height: 490px;
    margin: auto;
    text-align: center;
  }
  h1 {
    padding-top: 100px;
    font-size: 41px;
    color: #1e652f;//#fff20d;
    text-transform: uppercase;
    font-weight: bold;
  }
  .description {
    padding: 0 50px;
    color: #0a2c12;
    font-size: 17px;
  }
  .smiley {
    position: absolute;
    top: 50px;
    left: 340px;
    width: 51px; height: 51px;
    background: url(../img/smiley.png) 0 -51px;
    &.smile {
      background-position: 0 0;
    }
  }
  .fb-btn{
    display: block;
    background-color: #3B5998;
    width: 200px;
    height: 40px;
    line-height: 40px;
    color: #FFF;
    margin: 20px auto;
    border-radius: 110px;
    &:hover{
      transform: scale(1.1);
    }
  }

  ul{
    list-style: none;
    padding: 0px;
    margin-top: 20px;
    width: 500px;
    margin: auto;
    li{
      background: rgba(255, 242, 13, 0.7);
      border: 1px solid rgba(0,0,0,0.2);
      border-radius: 50px;
      margin-top: 15px;
      padding: 5px;
      .question{
        font-weight: bold;
        text-transform: uppercase;
        font-size: 12px;
        color: #5C6108;
        div{
          font-weight: normal;
          text-transform: capitalize;
          font-size: 18px;
          color: #1e5d2c;
        }
      }
    }
  }
}

.social-footer{
  position: absolute;
  z-index: 100000;
  bottom: 0;
  right: 0;
  background: url(../img/triangle-shape-bottom.png) -56px;
  width: 118px;
  height: 129px;
}

.popover {
  background-color: #1E5D2C;
  font-family: $font !important;
  color: #fff;
  .popover-title {
    background-color: #1E5D2C;
    color: #E5E516;
    border-bottom: 0;
    font-weight: bold;
  }
  .arrow::after {
    border-bottom-color: #1E5D2C !important;
  }
}
